<form name="contact" action="https://getform.io/f/f48a806f-9ed5-4358-99c6-d2b1271093ff" method="POST">
    <!-- Text input-->
    <div>
        <label for="name"></label>
        <div>
            <input name="name" type="text" placeholder="Name">
        </div>
    </div>
    <!-- Text input-->
    <div>
        <label for="email"></label>
        <div>
            <input name="email" type="email" placeholder="Email">
        </div>
    </div>
    <!-- Textarea -->
    <div>
        <label for="message"></label>
        <textarea name="Message" placeholder="Message" rows="8"></textarea>
    </div>
    <!-- Button -->
    <div>
        <button type="submit" value="Submit">Submit</button>
    </div>
</form>